.check-in-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.check-in-container h2 {
  text-align: center;
}

.check-in-container label {
  display: block;
  margin-bottom: 10px;
}

.check-in-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.check-in-container button {
  width: 100%;
  padding: 10px;
  background-color: hsl(138, 92%, 19%);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.check-in-container button:hover {
  background-color: #0056b3;
}

.check-in-container p {
  margin-top: 10px;
  font-style: italic;
}
